@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-8 col-md-push-2">
        <h2>Contact NerdAmigo</h2>
        
		<p>NerdyForms is a production of <a target="_blank" href="https://nerdamigo.com">NerdAmigo</a>. I welcome feedback and ideas, 
		and would love to hear your thoughts on what can be done to improve this library!</p>
        
		<p>The creation and basic idea was conceived as a vehicle to build a small, useful library to publish
		as an open source project and a reason to begin working with publishing on nuget.</p>

		<p>To view this project's source code, please visit it's repository on github at 
		<a target="_blank" href="https://github.com/nerdamigo/nerdy-forms">https://github.com/nerdamigo/nerdy-forms</a></p>

		<p>A compiled version of the project is available on nuget at <a target="_blank" href="https://www.nuget.org/packages/Nerdamigo.NerdyForms/">https://www.nuget.org/packages/Nerdamigo.NerdyForms/</a> 
		or via the package manager using <code>Install-Package Nerdamigo.NerdyForms</code></p>

		<div id="disqus_thread"></div>
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES * * */
			var disqus_shortname = 'nerdyforms';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>